<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<form action="reg" th:object="${member}" method="post">
    <fieldset>
        <div>
            <label for="name" class="text">이름</label>
            <input type="text" id="name" th:field="*{memberName}" placeholder="이름을 입력하세요.">
        </div>
        <div>
            <label for="age" class="text">나이</label>
            <input type="text" id="age" th:field="*{age}" class="text-box">
        </div>
    </fieldset>
    <div>
        <input type="submit" class="btn btn-main btn-reg" value="회원가입">
        <button th:onclick="|location.href='@{/member}'|">취소</button>
    </div>
</form>

</body>
</html>