<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="reg" method="post">
    <fieldset>
        <div class="email-box">
            <label class="text">이름</label>
            <input type="text" name="name" placeholder="이름을 입력하세요.">
        </div>
        <div>
            <label class="text" >나이</label>
            <input type="number" class="text-box" name="age">
        </div>
    </fieldset>
    <div>
        <input type="submit" class="btn btn-main btn-reg" value="회원가입">
    </div>
</form>

</body>
</html>