<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="index" method="post">
        <fieldset>
            <div>
                <label>제목</label>
                <input type="text" name="title" placeholder="제목을 입력하세요.">
            </div>
            <div>
                <label>본문</label>
                <input type="text" name="content" placeholder="본문을 입력하세요,">
            </div>
        </fieldset>
        <div>
            <input type="submit" value="등록">
            <input type="button" value="삭제">
        </div>
    </form>
</body>
</html>